extend layout

block title
    link(rel="stylesheet", href="style.css")
    link(rel="icon", href="images/Poke Ball Icon.png")
    title #{d.Name} | POKÉDEX

block content
    div#entry-container
        div.nameplate
            div#entry-name #{d.Name}
            div#entry-nums
                div#entry-id ID: #{d.pid}
                div#entry-gen GEN: #{d.Generation}
        ul.type-list
            include ./partials/types.pug
        div#info
            p Height: #{d.Height} Meters
            p Weight: #{d.Weight} Kg
            p Abilities: #{d.Abilities}
        div.card
            img.card-img(src=`images/Pokemon_Images/${d.Name}.png`, alt=d.Name)
        div.stats
            p HP: #{d.HP}
            p Speed: #{d.Speed}
            p Attack: #{d.Attack}
            p Defense: #{d.Defense}
            p Special Attack: #{d.SpAtk}
            p Special Defense: #{d.SpDef}