extend layout

block title
    link(rel="stylesheet", href="style.css")
    link(rel="icon", href="images/Poke Ball Icon.png")
    title ${data.name} | POKÉDEX

block content
    div#container
        div.card
            h5.card-title #{data.name}
            img.card-img(src=`images/Pokemon_Images/${data.Name}.png`, alt=data.Name)
            ul.type-list
                each t in data.Types
                    case t 
                        when "Fire"
                            li.type.fire-type fire
                        when "Water"
                            li.type.water-type water
                        when "Grass"
                            li.type.grass-type grass
                        when "Poison"
                            li.type.poison-type poison
                        when "Bug"
                            li.type.bug-type bug
                        when "Normal"
                            li.type.normal-type normal
                        when "Electric"
                            li.type.electric-type electric
                        when "Fighting"
                            li.type.fighting-type fighting
                        when "Psychic"
                            li.type.psychic-type psychic
                        when "Rock"
                            li.type.rock-type rock
                        default
                            li.type #{t}
                                        ul.type-list
        div#info
            p Dex Number: #{data.pid}
            p Height: #{data.Height}
            p Weight: #{data.Weight}
            p Ability: #{data.Abilities}
        div#entry
            p todo: entry
