each d in data
    a(onclick=`addToTeams(${d.pid})`)
        div.card
            h5.card-title #{d.Name}
            img.card-img(src=`images/Pokemon_Images/${d.Name}.png`, alt=d.Name)
            ul.type-list
                each t in d.Types
                    case t 
                        when "Fire"
                            li.type.fire-type fire
                        when "Water"
                            li.type.water-type water
                        when "Grass"
                            li.type.grass-type grass
                        when "Poison"
                            li.type.poison-type poison
                        when "Bug"
                            li.type.bug-type bug
                        when "Normal"
                            li.type.normal-type normal
                        when "Electric"
                            li.type.electric-type electric
                        when "Fighting"
                            li.type.fighting-type fighting
                        when "Psychic"
                            li.type.psychic-type psychic
                        when "Rock"
                            li.type.rock-type rock
                        when "Flying"
                            li.type.flying-type flying
                        when "Dark"
                            li.type.dark-type dark
                        when "Steel"
                            li.type.steel-type steel
                        when "Ground"
                            li.type.rock-type ground
                        when "Fairy"
                            li.type.fairy-type fairy
                        when "Dragon"
                            li.type.dragon-type dragon
                        when "Ice"
                            li.type.ice-type ice
                        when "Ghost"
                            li.type.ghost-type ghost
                        default
                            li.type #{t}
                                        ul.type-list